.float-container {
    overflow: hidden;
  }
  
  .float-item {
    float: left;
    margin: 10px;
    padding: 20px;
    background-color: lightgreen;
  }

  p#artist_name {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0)
  }